* {
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(218, 180, 145);
}

p {
  font-size: 0.7cm;
}

.element {
  overflow: hidden;
}

/*##################################*/
/*#        LANDING PAGE TOP        #*/
/*##################################*/

#landingpage_container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(../img/acceuil.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}


#landingpage_container .welcome_message_container {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 15%;
    top: 24%;
}

#landingpage_container .welcome_message_container h1 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 20px; 
    color: white;
}

#landingpage_container .welcome_message_container h2 {
  color: white;
}

#landingpage_container .welcome_message_container h1 #companyname_element {
  color: #FF7F22;
}







/* A enlever */
:root #img_home {
  height: 30%;
  width: 30%;
  background: url(../img/museum-g42c9c5857_1280.jpg) no-repeat;
  border-radius: 10px;
  background-size: 100% 100%;
  position: absolute;
  bottom: 15%;
  right: 15%;
}

.curveTop {
  display: block;
  position: absolute;
  box-sizing: border-box;
  height: 75px;
  width: 100%;
  background-color:#CF6C10;
  bottom: 0%;
}



/*#############################*/
/*#  Pop Hup container PART   #*/
/*#############################*/

      /* Positionnez la forme Popup */
    .login-popup {
        position: relative;
        text-align: center;
        width: 20%;
    }

    .hidden {
        display: none;
    }

      /* Masquez la forme Popup */
    .form-popup {
        position: fixed;
        left: 50%;
        top: 40%;
        transform: translate(-45%, 5%);
        border: 2px solid #666;
        z-index: 9;
        background-color: peru;

    }
      /* Styles pour le conteneur de la forme */
    .accept{
        display: none;
        opacity: 0.3;
    }

    .form-container{
        padding: 20px;
        background-color: #fff;
    }

      /* Largeur complète pour les champs de saisie */
    .form-container input[type="text"],
    .form-container input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 5px 0 22px 0;
        border: none;
        background: #eee;
    }
      /* Quand les entrées sont concentrées, faites quelque chose */
    .form-container input[type="text"]:focus,
    .form-container input[type="password"]:focus {
        background-color: #ddd;
        outline: none;
    }
      /* Stylez le bouton de connexion */
    .form-container .btn {
        background-color: #8ebf42;
        color: #fff;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
    }
      /* Stylez le bouton pour annuler */
    .form-container .cancel {
        background-color: #cc0000;
    }
      /* Planez les effets pour les boutons */
    .form-container .btn:hover,
    .open-button:hover {
        opacity: 1;
    }


/*##################################*/
/*#        MAIN PART               #*/
/*##################################*/


#main_container {
    width: 100%;
    height: 100%;
    background-color: #FFDFBA;
    z-index: 1;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


#idea{
  display: flex;
  width: 95%;
  height: 85%;
  justify-content: space-around;
}

#image{
  width: 40%;
  height: 90%;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}


#image img{
  width: 80%;
  height: 80%;
}

#page{
  width: 40%;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

}

#page p{
  width: 100%;
  height: 50%;
  background-color: blanchedalmond;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;

}

#companyname_element {
  color :#FFDFBA;
}

