
ul{
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-family: "Roboto sans-serif";
}

#topbar_container {
    background-color: #CF6C10;
    display: flex;
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 20px;
    align-items: center;
    padding: 0;
    z-index: 9999;

}

#first_img{
    width: 10%;
    height: 100%;
    position: absolute;
}

#topbar_container_nav_elements {
    display: flex;
    position: absolute;
    width: 60%;
    right: 0%;
    justify-content:space-between;
    top: 30%;
    margin-left: 20px;

}


#topbar_container_nav_elements a {
    font-size: 30px;
    color : white;
    font-family: "Roboto sans-serif"
}

#topbar_container_nav_elements a  :nth-child(1) {
    font-size: 30px;
    color : white;
    font-family: "Roboto sans-serif";
    margin-left: 20px;
}

#topbar_container_compte {
    width: 8%;
    background-color: #CF6C10;
}

#topbar_container_compte img { 
    width: 60%;
    border-radius: 10%;
    top: 0%;
}



/*##################################*
/#        Menu PART               #/
/##################################*/


#connexion{
    position: absolute;
    top: 99%;
    right: 0;
    background-color: #CF6C10;
    width: 25%;
    height: 250%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    z-index: 9999;
    border-radius: 0 0 0 10px ;

}

#connexion a{
    font-size: 30px;
    margin: 10px;
}

#topbar_container_compte #connexion{
    transform: translateX(100%);
}

#topbar_container_compte:hover #connexion{
    transform: translateY(0%);
}
